@import "tailwindcss";
@plugin "daisyui"{
    themes: dark --default, dark --prefersdark, cupcake;
  }
.sigmar-regular {
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

  
  
  